<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <form class="form-control" action="/product/updateproduct/<%= _id %>" method="post">
        <h3>Edit Product</h3>
        <input type="hidden" value="<%= _id %>">
        <label>Product Name :</label>
        <input type="text" name="productname" value="<%= productname %>">
        <br><br>
        <label>Product Prize :</label>
        <input type="text" name="prize" value="<%= prize %>">
        <br><br>
        <label>Product Quantity :</label>
        <input type="text" name="quantity" value="<%= quantity %>">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>